<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="catalogo.css">
    <title>Document</title>
    <meta name="description" content="NovaDrive LD - Alquiler de vehículos de lujo">
    <meta name="keywords" content="alquiler, vehículos, lujo, NovaDrive">
    <meta name="author" content="NovaDrive LD">
</head>
<body>

    <div id="Header">
        <button id="Logo-Header-HomeButton">
            <a href="/" style="color:#111; font-weight:bold; ">
                <img id="Logo-Header" src="/img/NovaDriveLogo_BLANCO.png" alt="NovaDrive">
            </a>
            
        </button>
        <button id="Catalogo-Vehiculos-Button">
            <a href="/catalogo" style="color: #ffffff; font-weight: bold; text-decoration: none;">Vehiculos</a>
        </button>
        
    </div>

    {{{body}}}

</body>
</html>
</html>