<div id="Home-Page">
    <img src="\img\LAMBO_HERO.png" id="ImagendelHome">
    <div style="background-color: black;width:100%;height:50px; color:white; align-content:center;">
        <h5>Ubicación: Av Salvador Estrella Sadhalá, Santiago de los Caballeros 51000</h5>
    </div>
</div>